.killingVoice {
  height: 500px;
  object-fit: cover;
  
  iframe{
    border: $borderSmall;
    box-shadow: 0px 0px 40px $shadows;
  }
}

.hearts {
  width: 30px;
  
  &::selection {
    background-color: $tertiaryColor;
  }
}
