.albumText {
  background: $secondaryColor;
  min-height: 400px;
  min-width: 300px;
  max-height: 450px;
  border: $borderSmall;
}

.album img {
  background: $secondaryColor;
  max-height: 400px;
  min-width: 300px;
  min-height: 300px;
  border: $borderSmall;
  
  &:hover {
    background: radial-gradient(circle, $primaryColor, $secondaryColor);
  }
}
