.albumText {
  background: $secondaryColor;
  border: $borderSmall;
}

.album img {
  background: $secondaryColor;
  border: $borderSmall;
  
  &:hover {
    background: radial-gradient(circle, $primaryColor, $secondaryColor);
  }
}
