@media (max-width: 991.98px) {
  .navbar-nav {
    text-align: center;
  }
}

@media (max-width: 800px) {
  .albumText
  {
  min-width: 250px;
  max-height: 430px;
  }

  .album img {
  min-height: 250px;
  min-width: 250px;
  }
}



