@media (max-width: 991.98px) {
  .navbar-nav {
    text-align: center;
  }
}

@media (max-width: 800px) {
  .albumText
  {
  max-width: 350px;
  max-height: 430px;
  }

  .album img {
  max-height: 350px;
  max-width: 350px;
  }
}



