$primaryColor: #f038b8ff;
$secondaryColor: #35469fff;
$tertiaryColor: #ffffff;
$hoverColor: #c932b5ff;
$backgroundColor: #19214a;
$shadows: rgba(0, 0, 0, 0.3);
$borderSmall: 1px solid $tertiaryColor;
$borderBig: 2px solid $tertiaryColor;